.investments-section {
  padding: 40px 40px;
  background-color: #fff;
}

.investments-section__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.investments-section__header {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row-reverse; /* Switches the sides of the button and title */
}

.investments-section__title {
  font-size: 2rem;
  color: var(--txtMain-color);
}

.investments-section__button {
  background-color: var(--secondary-color);
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
