/* src/components/SearchBar.css */
::placeholder {
  text-align: center;
}

.search-bar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  width: 100%; /* Ensure it uses the full width available */
  max-width: 450px;
  margin: 0 auto; /* Center the search bar */
}

.search-bar__input {
  flex: 1;
  border-radius: 10px;
  height: 40px; /* Adjusted height for better look */
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px; /* Adjust font size */
}

.search-bar__icon {
  position: absolute;
  right: 0px; /* Position the icon on the right side */
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 8px; /* Make it circular */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white; /* Text color */
}
