.details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.separator {
  background-color: var(--txtMain-color);
  height: auto; /* Ensure it takes the height of its container */
  align-self: stretch; /* Make separator take full height of the flex container */
}

.company-section {
  flex: 1;
  padding: 10px;
}

.docs-container,
.info-container,
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.docs-container {
  margin-top: 18px;
}
.info-container {
  margin-top: 28px;
}
.docs-container .document-links,
.info-container .info-content,
.contact-container .contact-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .details-container {
    flex-direction: column;
  }

  .form-group {
    width: 90%;
  }
}
