.middle-section {
    max-width: 70%;
    margin: 0 auto;
  }
  
  .title {
    text-align:right;
    font-size: 2rem;
    font-weight: bold;
    color: #37474f;
  }
  
  .information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    direction: rtl;
  }
  
  .information p {
    width: 20%; /* Adjusted to create space between blocks */
    margin-bottom: 2rem;
    background-color: #d0ebea;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #728f9e;
    text-align:center;
    
  }
  
  .information p span {
    display: block;
  }
  
  .information p span:first-child {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
  }
  
  .information p span:last-child {
    font-size: 0.875rem;
  }